---
layout: default
title: Home
---
## [ABOUT ME](https://tabithayuen.github.io/Tabitha/about)
<a herf="https://tabithayuen.github.io/Tabitha/about">
<img src="{{ site.baseurl }}/assets/img/profile.jpg">
 </a>

## [ABOUT ME](https://tabithayuen.github.io/Tabitha/works)
<a herf="https://tabithayuen.github.io/Tabitha/works">
<img src="{{ site.baseurl }}/assets/img/maitreyi ramakrishnan.jpg">
  </a>

<img src="{{ site.baseurl }}/assets/img/lolatung.jpg">

<img src="{{ site.baseurl }}/assets/img/teenvoguemei.jpg">

<img src="{{ site.baseurl }}/assets/img/turningredcherry.jpg">


{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
